.form-container {
    padding: 10% 20% 10%;
    background-color: #e2d1c6;
    font-size: 0.7rem;
    font-family: Verdana, Geneva, sans-serif;

    form {
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border-radius: 10px;
        padding: 5%;

        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .left-container {
            input {
                font-size: 0.7rem;
            }
            flex: 1 0 65%;
            padding: 3%;
        }

        .right-container {
            padding-left: 5%;
            flex: 1;

            img {
                width: 75px;
            }
        }

        .card-footer {
            background-color: white;
            padding-top: 3%;
            width: 100%;
            font-weight: bold;

            span.amount {
                color: #d1ac6a;
                padding-left: 5px;
            }

            .total-amount-info {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }

            .button-paynow {
                width: 70%;
                padding: 15px;
                float: right;
                border: none;
                font-size: 0.7rem;
                background-color: #d1ac6a;
                border-radius: 35px;

                &:focus:enabled {
                    box-shadow: 0 0 3pt 2pt #007bff;
                }

                &:hover:enabled {
                    box-shadow: 0 0 3pt 2pt #007bff;
                }
            }
        }
    }
}